@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto Slab', sans-serif;
}

h1,
h2,
h3,
.robomono {
  font-family: 'Roboto Mono', sans-serif;
}

#profile {
  transform: scaleX(-1);
  border-top-right-radius: 220px;
  border-top-left-radius: 270px;
  border-bottom-right-radius: 220px;
  border-bottom-left-radius: 270px;
}

#logo {
  filter: grayscale(1);
}