@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

* {
  font-family: 'Roboto Slab', sans-serif;
}

h1,
h2,
h3,
.robomono {
  font-family: 'Roboto Mono', sans-serif;
}